aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
cscope.*
ctwm
deftwmrc.c
depcomp
.deps/
gram.c
gram.h
install-sh
lex.c
libctwm.a
*.log
m4/
Makefile
Makefile.in
missing
*.o
scripts/
stamp-h1
.*.sw[op]
ylwrap
