.deps/
Makefile
Makefile.in
aclocal.m4
add_window.o
autom4te.cache/
clicktofocus.o
compile
config.h
config.h.in
config.log
config.status
configure
ctwm
ctwm.o
cursor.o
deftwmrc.c
deftwmrc.o
depcomp
events.o
gc.o
gnome.o
gram.c
gram.h
gram.o
iconmgr.o
icons.o
install-sh
lex.c
lex.o
libctwm.a
libctwm.o
list.o
menus.o
missing
parse.o
resize.o
session.o
stamp-h1
util.o
version.o
vscreen.o
windowbox.o
workmgr.o
ylwrap
.*.sw[op]
cscope.files
cscope.out
